body{
    box-sizing: border-box;
    position: relative;
}

.container{
    position: absolute;
    left: 40%;
    border: 2px solid aqua;
    border-radius: 30px;
    background-color: aqua;
    padding: 50px 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 200px;
}