#input{
    margin: 50px 0 0 30px;
}
#input:hover{
    cursor: pointer;
}

#some__div{
    position: absolute;
    top: 50px;
    margin-left: 200px;
    background-color: tomato;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    text-align: center;
}