body{
    box-sizing: border-box;
}
ul{
   list-style-type: none;
}
a{
    color: black;
    text-decoration: none;
}
p{
    margin: 0;
    padding: 0;
}
h1{
    margin: 0;
    padding: 0;
}
.shop{
    display: flex;
    gap: 100px;
}
.nav__list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}


.products__list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 0;
}

.info{
    padding-top: 15px;
    text-align: center;
}

.info_img{
    margin-bottom: 15px;
}
.info_text{
    margin-bottom: 15px;
}
.info_price{
    margin-bottom: 15px;

}




